<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVYV-98feXWT9F_AZ3hZSWcZFJllm6k6w</string>
	<key>GCM_SENDER_ID</key>
	<string>546327095982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alive.skin</string>
	<key>PROJECT_ID</key>
	<string>alive-skin-da29a</string>
	<key>STORAGE_BUCKET</key>
	<string>alive-skin-da29a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546327095982:ios:947a03f20c5ab464d69b3f</string>
</dict>
</plist>