<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAUkPwAlH3LVmopjPfmAx3pr5wvtEhyV-8</string>
	<key>GCM_SENDER_ID</key>
	<string>412081701990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alive.skin</string>
	<key>PROJECT_ID</key>
	<string>alive-skin</string>
	<key>STORAGE_BUCKET</key>
	<string>alive-skin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:412081701990:ios:af2f115ca65f1b4c7799a7</string>
</dict>
</plist>